//-Lights
a-light(type="ambient" color="#669966")
a-entity(
	light="type: ambient; color: #BBB"
)
a-entity(
	light="type: directional; castShadow: true; color: #FFF; intensity: 0.6;"
	position="-0.5 1 1"
)
